<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>
<div th:replace="fragments :: menubar"></div>
<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Descripción de ' + ${usuario1.nombre}"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Correo electrónico</th>
                    <th>Nombre</th>
                    <th>Fecha de nacimiento</th>
                    <th>Administrador</th>
                    <th>Bloqueado</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${usuario1.id}"></td>
                    <td th:text="${usuario1.email}"></td>
                    <td th:text="${usuario1.nombre}"></td>
                    <td th:text="${usuario1.fechaNacimiento}"></td>
                    <td th:text="${usuario1.admin}"></td>
                    <td th:text="${usuario1.blocked}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>