<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>
<div th:replace="fragments :: navbar"></div>

<div class="container-fluid">
    <h1>Detalle usuario</h1>

    <ul>
        <li><strong>Nombre:</strong> <span th:text="${usuario.nombre}"></span></li>
        <li><strong>Correo:</strong> <span th:text="${usuario.email}"></span></li>
        <li><strong>Fecha de nacimiento:</strong> <span th:text="${#dates.format(usuario.fechaNacimiento, 'dd/MM/yyyy')}"></span></li>
    </ul>
</div>


<div th:replace="fragments::javascript"/>

</body>
</html>