<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>

<div th:replace="fragments :: navbar"></div>

<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2>Listado de equipos</h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="equipo: ${equipos}">
                    <td th:text="${equipo.id}"></td>
                    <td>
                        <a style="text-decoration: underline;" th:href="@{'/equipos/' + ${equipo.id}}" th:text="${equipo.nombre}"></a>
                    </td>
                    <td th:if="${!equipoService.usuarioPerteneceEquipo(equipo.id,logeado.id)}"><a class="btn btn-primary btn-xs" th:href="@{'/equipos/' + ${equipo.id} + '/unirse'}"/>Unirse</a></td>
                    <td th:if="${equipoService.usuarioPerteneceEquipo(equipo.id,logeado.id)}"><a class="btn btn-danger btn-xs" th:href="@{'/equipos/' + ${equipo.id} + '/salirse'}"/>Salirse</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"/>


</body>
</html>